.spinner {
    width: 40px;
    height: 40px;
    border: 5px;
    border-top: 5px;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color : rgb(174, 135, 182);
    padding : 24px 32px;
}

#country-info{
    align-items: center;
}

.border-grid{
    display : flex;
    list-style: none;
    background-color: rgb(224, 215, 224);
    justify-content: center;
    border-color : rgb(65, 8, 65);
    border-width : 2px;
    border-style : solid;
}

#bordering-countries ul {
    list-style: none;          
    padding: 0;
    margin: 0;
    display: flex;             
    gap: 10px;                
    flex-wrap: wrap;           
}

#bordering-countries li {
    text-align: center;        
}

.error {
    color : red;
    font-weight : 500;
    padding : 16px;
}

.hidden {
    display : none;
}